* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */

.header {
    min-height: 100vh;
    background: darkred;
    display: flex;
    flex-direction: column;
}

.header__nav {
    padding: 20px 0;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
}

.header__list {
    display: flex;
    column-gap: 30px;
}

.header__link {
    font-size: 20px;
    color: #fff;
}

.header__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.header__title {
    /* font-size: 150px; */
    /* font-size: 72px; */
    /* font-size: calc(50px + 100 * (100vw / 1920)); */
    font-size: calc(50px + 22 * (100vw / 1920));
    /* font-size: 10vw; */
}

.original {
    /* font-size: 150px; */
    font-size: 72px;
}

.header__txt {
    font-size: 22px;
}

@media (max-width: 767px) {
    .original {
        font-size: 50px;
    }
    
    .header__title {
        font-size: calc(50px + (22 + 22 * 0.7) * (100vw - 320px) / 1920);
    }
}

/* header end */